<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoies</title>
</head>
<style>
    #grad1 {
        height: 18px;
        background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">

<body>
    <br><br> <br>  <br> <br>  <br> 

    <form [formGroup]="SearchForm" (submit)="googleSearch()">

        <div class="search__container">
            <input class="search__input" type="text" placeholder="Search" aria-label="Search"
                aria-describedby="button-addon2" formControlName="search" id="search">
        </div>
     <br>


        <!-- <div class="input-group mb-3">
            <input type="text" style="font-size: large; size: 70px;" class="form-control" placeholder="Search" aria-label="Search"
                aria-describedby="button-addon2" formControlName="search" id="search">
            <div class="input-group-append">
                <button style="visibility: visible;" class="fadeInLeft wow btn btn-common btn-lg animated" type="submit"
                    id="button-addon2">
                    <i class="fa fa-search"></i></button>
            </div>
        </div> -->


        <div>
            <select (change)="selectChangeHandler($event,j)" *ngFor="let category of categoriesToSelect; let j=index"
                class="custom-select" style="width:230px">
                <option value="202" disabled selected> Select category: &nbsp;</option>
<input type="co">
                <option [value]="subCategory.CategoryId" *ngFor="let subCategory of category;let i=index ">
                    <label>
                        <p>{{subCategory.CategoryName}}</p>
                    </label>
                </option>
            </select>
        </div>

        <div class="container" style="margin-bottom: 1px">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h6 class="section-title wow fadeInUp" data-wow-delay="0.2s" style="font-size: 40px;">treat my
                            sensitivities <input type="checkbox" (change)="TreatSensitivity()"
                                value="do you want to treat your sensitivity?"> </h6>

                        <!-- <div *ngIf="checked" id="middle">
                            <ul *ngFor="let sens of allergies;let i=index ">
                                <label class="container" style="font-size: 20px;">{{allergies[i].AllergyName}}
                                    <input type="checkbox" [value]="allergies[i].AllergyName"
                                        id={{allergies[i].AllergyName}}
                                        (change)="toggleAllergy(allergies[i].AllergyCode)">
                                </label>
                            </ul>
                        </div> -->
                        <div *ngIf="checked">
                            <div id="middle" *ngFor="let sens of allergies;let i=index " style="margin-left: 100px;">
                                <label class="container11" style="font-size: 20px; float: left; margin-top: 5px;">
                                    <input type="checkbox" [value]="allergies[i].AllergyName"
                                        id={{allergies[i].AllergyName}} 
                                        (change)="toggleAllergy(allergies[i].AllergyCode)" style="margin-left: 250px;">
                                    {{allergies[i].AllergyName}}
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <h3 *ngIf="selectedAllergies.length>2">hello my amigo! we suggest you choose no more then 2 options to make the searching more usefull</h3>

                    </div>
                </div>
            </div>
        </div>


        <br>

        <!-- <button type="submit"
            style="background-color:rgb(209, 113, 61) ;border-color: white; width: 100px;height:40px;border-radius: 4px;">Search</button>-->

        <button type="submit" class="btn btn-common sub-btn" data-style="zoom-in" data-spinner-size="30" name="submit"
            id="submit" style="font-family: inherit;">
            <span class="ladda-label"><i class="fa fa-check" aria-hidden="true"></i>
                Find my recipe</span>
        </button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
        <br><br><br>




    </form>

    <br>  <br> <br>  <br><br>  <br><br>  <br> <br><br>  <br><br>  <br>

</body>

</html>